* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/full.png);
}

.main {
    display: flex;
    flex-direction: row;
}

.nav {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);

}

.shape3 {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.stonks {
    width: 20px;
    height: 20px;
    margin-right: 9px;

}

.navcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 70px);
}

.navpoint {
    margin: 20px;

}

.navpointmini {
    display: flex;
    align-items: center;
}

.footer {
    margin: 20px;
}

.content {
    width: 100%;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.4);
}

.header {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #e8dcdb;
    border-radius: 2px;
    padding-right: 18px;
    display: flex;
    justify-content: flex-end;

}

.profile {
    display: flex;
    margin-right: 40px;
    column-gap: 35px;
    align-items: center;
}

.imgnav {
    margin-right: 10px;
    margin-bottom: 2px;
    width: 16px;
    height: 16px;
}

.logout {
    margin-right: 10px;
    margin-bottom: -1px;
}

.information {
    display: flex;
    flex-direction: column;
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lower-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile > div{
	height: fit-content;
    position: relative;
}

.profile > div:last-child{
    margin-top: -4px;
}
.profile div > h5{
    font-size: 14px;
    font-weight: 500;
    color: #a6a7a8;
    position: absolute;
    bottom: 0;
    left: 12px;
}

.profile div:last-child > h5{
    bottom: -4px
}

.nick{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.information{
    width: 100%;
    height: calc(100% - 70px);
    padding: 24px;
    display: flex;
    column-gap: 24px;
    flex-direction: row;
}

.left__content{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.left__content div{
    flex-grow: 1;
    width: 100%;
    background-color: aqua;
}


.right__content{
    height: 1000px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.chart{
    background-color: cadetblue;
    width: 100%;
    height: 488px;
}

.right__bottom {
    width: 100%;
    flex-grow: 1;
    display: flex;
    column-gap: 24px;

}

.r__b__left{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.r__b__left div{
    flex-grow: 1;
    width: 100%;
    background-color: coral;
}
.r__b__left div:first-child{
    margin-bottom: 12px;
}
.r__b__left div:last-child{
    margin-top: 12px;
}

.calendar{
    height: 100%;
    flex-grow: 1;
    background-color: aquamarine;
}